# Assignment 2.2
List Comprehension
*   Introduction to lists

In [3]:
# 1. a list can contain any datatype
li = [1, 'a', 1.2, ['a', 2, 2.3], 4-6j]
print(li)
print(type(li))

[1, 'a', 1.2, ['a', 2, 2.3], (4-6j)]
<class 'list'>

In [4]:
# 2. lists can be indexed and hence sliced
print(li[2])
print(li[2:4]) # slicing
print(li[-2])  # back indexing

1.2
[1.2, ['a', 2, 2.3]]
['a', 2, 2.3]

In [5]:
# 3. list allows duplicates
l1 = [1,1,1]
print(li)

[1, 'a', 1.2, ['a', 2, 2.3], (4-6j)]

In [6]:
# 4. list is mutable
li = [1,2,3,4]
print(li)
li[2] = 6
print(li)

[1, 2, 3, 4]
[1, 2, 6, 4]

* list comprehension ways
* Syntax: [expression for item in list]

In [7]:
# 1. using 'for' (+nested loop(s))
# example: save all characters in the string

makelist = [ element for element in 'some string' ]
print( makelist)
makelist = [ element*3 for element in [1,2,3,4] ]
print(makelist)

['s', 'o', 'm', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g']
[3, 6, 9, 12]

In [8]:
# nested loop case
matrix = [[1, 2, 'a'], [3,4,'b'], [5,6,'c']]
transpose = [[row[i] for row in matrix] for i in range(len(matrix))]
print (transpose)

[[1, 3, 5], [2, 4, 6], ['a', 'b', 'c']]

In [9]:
# 2. using 'if' conditional (+nested if-else)
# example: save if element is even
numlist = [ x for x in range(20) if x % 2 == 0]
print(numlist)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
# nested if case
# example: save to list if element is divisible by 2 and 3 both
numlist = [y for y in range(60) if y % 2 == 0 if y % 3 == 0]
print(numlist)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54]

In [11]:
# nested if-else case
some_list = [2,9,3,5,7,6,4,4,71,23,54,66]
rand_list = ["even" if i%2==0 else "odd" for i in some_list]
print(some_list)
print(rand_list)

[2, 9, 3, 5, 7, 6, 4, 4, 71, 23, 54, 66]
['even', 'odd', 'odd', 'odd', 'odd', 'even', 'even', 'even', 'odd', 'odd', 'even', 'even']